---
import Container from "./Container.astro"
import { HOME } from "../config";

---

<div class="text-gray-600 dark:text-gray-300" id="reviews">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        {HOME.TEXT.TESTIMONIALS_HEADING}
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src={HOME.IMAGES.TESTIMONIAL_1_AVATAR.src} alt={HOME.IMAGES.TESTIMONIAL_1_AVATAR.alt} width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">{HOME.TEXT.TESTIMONIAL_1_NAME}</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">{HOME.TEXT.TESTIMONIAL_1_SUBTITLE}</p>
          </div>
        </div>
        <p class="mt-8">{HOME.TEXT.TESTIMONIAL_1_TEXT}</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src={HOME.IMAGES.TESTIMONIAL_2_AVATAR.src} alt={HOME.IMAGES.TESTIMONIAL_2_AVATAR.alt} width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">{HOME.TEXT.TESTIMONIAL_2_NAME}</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">{HOME.TEXT.TESTIMONIAL_2_SUBTITLE}</p>
          </div>
        </div>
        <p class="mt-8">{HOME.TEXT.TESTIMONIAL_2_TEXT}</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src={HOME.IMAGES.TESTIMONIAL_3_AVATAR.src} alt={HOME.IMAGES.TESTIMONIAL_3_AVATAR.alt} width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">{HOME.TEXT.TESTIMONIAL_3_NAME}</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">{HOME.TEXT.TESTIMONIAL_3_SUBTITLE}</p>
          </div>
        </div>
        <p class="mt-8">{HOME.TEXT.TESTIMONIAL_3_TEXT}</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src={HOME.IMAGES.TESTIMONIAL_4_AVATAR.src} alt={HOME.IMAGES.TESTIMONIAL_4_AVATAR.alt} width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">{HOME.TEXT.TESTIMONIAL_4_NAME}</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">{HOME.TEXT.TESTIMONIAL_4_SUBTITLE}</p>
          </div>
        </div>
        <p class="mt-8">{HOME.TEXT.TESTIMONIAL_4_TEXT}</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src={HOME.IMAGES.TESTIMONIAL_5_AVATAR.src} alt={HOME.IMAGES.TESTIMONIAL_5_AVATAR.alt} width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">{HOME.TEXT.TESTIMONIAL_5_NAME}</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">{HOME.TEXT.TESTIMONIAL_5_SUBTITLE}</p>
          </div>
        </div>
        <p class="mt-8">{HOME.TEXT.TESTIMONIAL_5_TEXT}</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src={HOME.IMAGES.TESTIMONIAL_6_AVATAR.src} alt={HOME.IMAGES.TESTIMONIAL_6_AVATAR.alt} width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">{HOME.TEXT.TESTIMONIAL_6_NAME}</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">{HOME.TEXT.TESTIMONIAL_6_SUBTITLE}</p>
          </div>
        </div>
        <p class="mt-8">{HOME.TEXT.TESTIMONIAL_6_TEXT}</p>
      </div>

    </div>
  </Container>
</div>